<%- include('../partials/admin/adminHeader') %>
  <style>
    .tableData {
      padding-top: 35px !important;
      /* 75 */
    }

    .tableDataBtn {
      padding-top: 0px !important;
      padding-bottom: 30px !important;
    }
  </style>

  <div class="col-lg-10 grid-margin stretch-card container-fluid ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Categories</h5>
        <!-- <div class="form-group">
          <label for="productSearch">Search:</label>
          <input type="text" class="form-control" id="productSearch" placeholder="Search categories" />
        </div> -->
        <div style="margin-top: 20px;">
          <a href="/admin/addCategory">
              <button type="button" class="btn btn-primary mb-3" style="margin-left: 782px; width: 153px;">Add Category</button>
          </a>
      </div>
        <div class="table-responsive">
          <table id="categoryTable" class="table table-striped">
            <thead>
              <tr>
                <th>No.</th>
                <!-- <th>Image</th> -->
                <th>Category Name</th>
                <th>Status</th>
                <th>Modify</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% category.forEach((category, i)=> { %>
                <tr>
                  <td class="tableData">
                    <%= i + 1 %>
                  </td>

                  <td class="tableData">
                    <%= category.categoryName %>
                  </td>
                  <td style="width:520px; padding-top: 35px;">
                    <%= category.description %>
                  </td>

                  <% if (category.is_disable===true) { %>
                    <td class="tableData" >
                      <label class="text-danger">Deactivated</label>
                    </td>

                    <td class="tableDataBtn">
                      <a href="/admin/category/<%= category._id %>/edit" class="btn btn-primary">
                        Edit
                      </a>
                      <a href="/admin/category/activate/<%= category._id %>" class="btn btn-primary">
                        Activate
                      </a>
                    </td>
                    <% } else { %>
                      <td class="tableData">
                        <label class="text-success">Activated</label>
                      </td>
                      <td class="tableDataBtn">
                        <a href="/admin/category/<%= category._id %>/edit" class="btn btn-primary">
                          Edit
                        </a>
                        <a href="/admin/category/deactivate/<%= category._id %>" class="btn btn-danger">
                          Deactivate
                        </a>
                      </td>
                      <% } %>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/admin/adminFooter') %>