<%- include('../partials/admin/adminHeader') %>

    <style>
        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .form-control {
            margin-bottom: 15px;
            background-color: #f7f7f7;
            color: #333;
            border: 1px solid #ccc;
        }

        .btn-delete-image {
            position: absolute;
            left: 50px;
            top: 5px;
            right: 5px;
            padding: 2px 8px;
            font-size: 14px;
            margin-bottom: 10px;
        }
    </style>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Edit Category</h3>
                        <% if (typeof message !="undefined" ) {%>

                            <p id="errorMessage" class="mt-3 text-danger">
                                <%= message %>
                            </p>
                            <%}%>
                        <form class="forms-sample" method="post" id="category-form" action="/admin/category/edit/<%= category._id %>">
                            <input type="hidden" name="id" value="<%= category._id %>">

                            <div class="form-group">
                                <label for="exampleInputName1"  class="form-label">Category Name</label>
                                <input type="text" name="categoryName" class="form-control"id="exampleInputName1"
                                    placeholder="<%= category.categoryName %>" value="<%= category.categoryName %>">
                                    <p class="text-danger" id="Category-name-error"></p>
                            </div>
                            <!-- Other form fields... -->

                            <div class="form-group">
                                <label for="description"  class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="6" id="exampleTextarea1"
                                    placeholder="Write about the Product"><%= category.description %></textarea>
                                    <p class="text-danger" id="description-error"></p>
                            </div>

                            <div class="form-group">
                                <label for="offerArea" class="form-label">Category Offer(percentage)</label>
                                <input type="text" class="form-control" name="categoryOffer" 
                                id="categoryOfferId" style="width: 50% !important;" value="<%= category.offer%>">
                                <p class="text-danger" id="offer-error"></p>


                            </div>

                            <!-- <div class="form-group">
                                <div class="input-group">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div style="position: relative;">
                                                <\% if (category.image && category.image.contentType && category.image.data) { %>
                                                    <img src="data:<\%= category.image.contentType %>;base64,<\%= category.image.data.toString('base64')%>"
                                                        class="category-image" />
                                                    <a class="btn btn-danger btn-delete-image"
                                                        href="/admin/category/<\%= category._id %>/deleteImg">Delete</a>
                                                    <\% } else { %>
                                                        <p style="width: 145px;">No image available</p>
                                                        <\% } %>
                                            </div>
                                        </div>
                                    </div>
                                    Add a file input for uploading a new image
                                    <input type="file" id="images" name="image" class="form-control file-upload-info">
                                </div>
                            </div> -->

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-light ml-2">Cancel</button>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        setTimeout(() => {
            const errorMessage = document.getElementById('errorMessage');
            if (errorMessage) {
                errorMessage.style.display = "none"
            }
        }, 3000);
    </script>

    <script>
        const CategoryForm = document.getElementById("category-form")

        const CategoryName = document.getElementById("exampleInputName1")
        const nameError = document.getElementById("Category-name-error")
        // const CategoryDescription = document.getElementById("exampleTextarea1")
        const descriptionError = document.getElementById("description-error")
        const categoryOffer = document.getElementById('categoryOfferId')
        const catOfferError = document.getElementById('offer-error')



        function offerValidation(){
            console.log("cat", categoryOffer, "value", categoryOffer.value);
            if(categoryOffer.value >= 100){
                catOfferError.innerHTML = "You can't set offer above 100%"
                return false;
            }else if(!categoryOffer.value){
                catOfferError.innerHTML =  "Category offer must be filled or 0"
                return false;
            }else if(categoryOffer.value < 0){
                catOfferError.innerHTML ="cannot set offer less than 0"
                return false;
            }else{
                catOfferError.innerHTML="";
                return true;
            }
        }





        function nameValidation() {
            const nameRegex = /^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/;

            if (CategoryName.value.trim() === "") {
                nameError.innerHTML = "Please enter the Category Name!";
                return false;
            } else if (!nameRegex.test(CategoryName.value)) {
                nameError.innerHTML = "Please enter a valid Category Name.";
                return false;
            } else {
                nameError.innerHTML = "";
                return true;
            }
        }

        function descriptionValidation() {

            if (!/^[A-Za-z\s]+$/.test(CategoryDescription.value.trim())) {
                descriptionError.innerHTML = "Description must contain only words (non-numeric characters).";
                return false;

            } else if (CategoryDescription.value.trim().length <= 15) {
                descriptionError.innerHTML = "Description must be at least 15 characters long.";
                return false;

            } else {
                descriptionError.innerHTML = "";
                return true;
            }
        }


        CategoryForm.addEventListener("submit", function (event) {
            event.preventDefault();
            const validations = [
                nameValidation(),
                offerValidation(),
                // descriptionValidation()
            ];
            const hasErrors = validations.some(validation => validation === false);
            if (!hasErrors) {
                // Swal.fire({
                //     position: "top-end",
                //     icon: "success",
                //     title: "Category Detials Submitted",
                //     showConfirmButton: false,
                //     timer: 1500
                // });
                // setTimeout(()=>{
                CategoryForm.submit(); 
                // },1500)
            }
        })
    </script>


    <%- include('../partials/admin/adminFooter') %>