<%- include('../partials/user/shortHeader') %>


    <style>
        .imgof {
            /* background: rgb(202, 233, 247); */
            display: flex;
            align-items: baseline;
            justify-content: center;
            height: 100vh;
        }

        .image {
            position: relative;
            width: 600px;
            height: 400px;
            overflow: hidden;
            /* border: 5px solid #fff; */
            /* box-shadow: -1px 5px; */
        }

        .image img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: scale(var(--zoom, 1));
            transform-origin: var(--x) var(--y);
            transition: transform 0.3s ease;

        }


        .image:hover {
            --zoom: 3;

        }
    </style>


    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item image">
                            <img class="product__details__pic__item--large "
                                src="data:<%= details.image[0].contentType %>;base64,<%= details.image[0].data.toString('base64')%>">
                        </div>
                        <div class="product__details__pic__slider owl-carousel ">
                            <%details.image.forEach(item=>{%>
                                <img data-imgbigurl="data:<%= item.contentType %>;base64,<%= item.data.toString('base64')%>"
                                    src="data:<%= item.contentType %>;base64,<%= item.data.toString('base64')%>" alt="">
                                <%})%>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>
                            <p style="color: #422a2a; font-size: 33px;">
                                <%= details.product_name %>
                            </p>
                        </h3>
                        <ul>
                            <li><b>Brand : </b> <span><%= details.brand_name %></span></li>
                            <li><b>Color : </b> <span><%= details.color %></span></li>

                        </ul>
                        <p></p>

                        <div class="product__details__rating">
                            <i><b>Rating : </b></i>
                            <i></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">
                            ₹ <%= details.price%>
                        </div>

                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>


                        <button class="primary-btn" onclick="addToCart('<%= details._id %>')">ADD TO CARD</button>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>

                        <ul>
                            <li><b>Availability</b> <span>
                                    <%= details.stock_count%>
                                </span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Weight</b> <span>0.5 kg</span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>
                                        <%= details.description %>.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>
                                        <%= details.description %>.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>
                                        <%= details.description %>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->





    <script>
        document.querySelectorAll('.image').forEach(elem => {
            let x, y, width, height;
            elem.onmouseenter = () => {
                const size = elem.getBoundingClientRect();

                x = size.x
                y = size.y
                width = size.width;
                height = size.height;
            }
            elem.onmousemove = e => {
                const horizontal = (e.clientX - x) / width * 100;
                const vertical = (e.clientY - y) / height * 100;

                elem.style.setProperty('--x', horizontal + '%');
                elem.style.setProperty('--y', vertical + '%');

            };
        })
    </script>


    <%- include('../partials/user/footer') %>