<%- include('../partials/user/shortHeader') %>

    <style>
        /* Custom CSS for enhanced design */
        /* You can add these styles to your existing CSS file */

        /* Sidebar Styles */
        .sidenav {
            background-color: #f3f3f3;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .profile {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .profile img {
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-right: 15px;
        }

        .details {
            color: #333;
        }

        .name {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .job {
            color: #666;
        }

        .sidenav-links a {
            display: block;
            color: #fefdfd;
            padding: 8px 0;
            transition: color 0.3s ease-in-out;
        }

        .sidenav-links a.active {
            color: #000;
            font-weight: bold;
        }

        .sidenav-links a:hover {
            color: #000;
            text-decoration: none;
        }

        /* Main Content Styles */
        .main {
            margin-top: 20px;
        }

        .main h2 {
            font-size: 28px;
            margin-bottom: 20px;
            color: #333;
        }

        .card {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
        }

        .table {
            width: 100%;
            margin-bottom: 0;
        }

        .table td {
            border-top: none;
            padding: 8px 0;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                <!-- Sidebar -->
                <div class="sidenav">
                    <div class="profile">
                        <% if (user.image && user.image.contentType) { %>

                            <!-- <img src="https://imdezcode.files.wordpress.com/2020/02/imdezcode-logo.png" alt="Profile Image"
                            width="100" height="100"> -->
                            <img class="w-100"
                                src="data:<%= user.image.contentType %>;base64,<%= user.image.data.toString('base64')%>"
                                width="100" height="100" />
                            <% } else { %>
                                <img src="../../user/img/user-1.jpg" alt="Profile Image" width="100" height="100">

                                <% } %>
                                    <div class="details">
                                        <div class="name">
                                            <%= user.userName %>
                                        </div>
                                    </div>
                    </div>
                    <div class="sidenav-links">
                        <button class="btn btn-primary btn-block mt-3" type="submit">
                            Change Image
                        </button>
                        <a href="/profile" class="btn btn-success btn-block mt-3">Profile</a>
                        <a href="/profile/address" class="btn btn-success btn-block mt-3">My Address</a>
                        <a href="/order" class="btn btn-success btn-block mt-3">My Orders</a>
                        <a href="/newPassword" class="btn btn-success btn-block mt-3">Change Password</a>
                        <a href="/coupons" class="btn btn-success btn-block mt-3">coupons</a>
                    </div>
                </div>
                <!-- End Sidebar -->
            </div>




            <div class="col-md-8">
                <!-- Main Content -->
                <div class="main">
                    <h2>ADDRESS</h2>
                    <a href="/addAddress"><button class="btn btn-sm btn-primary mr-2">Add New Address</button></a>
                    <div class="card">
                        <% address.forEach((address)=> { %>
                            <div class="card-body border-bottom" id="<%= address._id%>">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>Details</h4>
                                    <div class="edit-delete-buttons">
                                        <a href="/editAddress/<%=address._id %>"><button
                                                class="btn btn-sm btn-primary mr-2">Edit</button></a>
                                        <button onclick="removeAddress('<%=address._id%>')"
                                            class="btn btn-sm btn-danger">Delete</button>
                                    </div>
                                </div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td>:</td>
                                            <td>
                                                <%=address.userName %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>:</td>
                                            <td>
                                                <%=address.email%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>House Name</td>
                                            <td>:</td>
                                            <td>
                                                <%=address.houseName %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>City</td>
                                            <td>:</td>
                                            <td>
                                                <%=address.city%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>District</td>
                                            <td>:</td>
                                            <td>
                                                <%=address.district%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>State</td>
                                            <td>:</td>
                                            <td>
                                                <%=address.state%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Country</td>
                                            <td>:</td>
                                            <td>
                                                <%=address.country%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pin Code</td>
                                            <td>:</td>
                                            <td>
                                                <%=address.postCode%>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- End Main Content -->
            </div>
        </div>
    </div>
    \

    <script>
        function removeAddress(addressId) {
            const canCancelOrder = true; // Replace this with your actual condition check

            if (canCancelOrder) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: "Yes, Delete",
                    cancelButtonText: "Close",
                }).then((result) => {

                    if (result.isConfirmed && result.value) {
                        console.log("dhrjheilbg");
                        fetch(`/removeAddress/${addressId}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                addressId: addressId,
                            }),
                        })

                            .then((response) => response.json())
                            .then((data) => {
                                console.log("Success:", data);

                                const deletedItem = document.getElementById(addressId);
                                if (deletedItem) {
                                    Swal.fire({
                                        title: "Deleted!",
                                        text: "Your file has been deleted.",
                                        icon: "success"
                                    });

                                    setTimeout(() =>{
                                    deletedItem.remove();
                                    },700)
                                }
                                console.log(deletedItem);
                            })
                            .catch((error) => {
                                console.error("Error:", error);
                            });
                    }
                })
            }
        }

    </script>



    <%- include('../partials/user/footer') %>