<%- include('../partials/user/shortHeader') %>

    <style>
        .quantity {
            width: 63px;
        }

        .btn-qunty {
            border: 0;
            height: 30px;
            width: 30px;
        }

        .delButton {
            border: 0;
        }

        .cartEmpty {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
            font-family: "Cairo", sans-serif;
            color: red;
            font-weight: 300;
            line-height: 26px;
            margin: 75px 0 75px 0;
        }


        .pagination-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .pagination-container a {
            display: inline-block;
            padding: 8px 12px;
            margin: 0 4px;
            text-decoration: none;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .pagination-container a.active {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }
    </style>

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Offer</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>



                                <% cart.forEach((element)=> { %>
                                    <% if (element.product && element.product._id) { %>
                                        <tr id="<%=element.product._id%>" class="items">
                                            <td class="shoping__cart__item">
                                                <% if (element.product.image.length>= 0 &&
                                                    element.product.image[0].data)
                                                    {
                                                    %>
                                                    <img src="data:<%= element.product.image[0].contentType %>;base64, <%= element.product.image[0].data.toString('base64') %>"
                                                        alt="" style="width: 150px; height: 205px">
                                                    <% } else { %>
                                                        <p>No Image</p>
                                                        <% } %>
                                                            <h5>
                                                                <%= element.product.product_name %>
                                                            </h5>
                                            </td>

                                            <td class="shoping__cart__price">
                                                <%= element.product.price %>
                                            </td>

                                            <td class="shoping__cart__quantity">
                                                <button onclick="updateQuantity('decrement','<%=element.product._id%>')"
                                                    class="btn-qunty" type="button">-</button>

                                                <span id="quantity-<%=element.product._id%>" class="text-center"
                                                    style="width: 63px !important;">
                                                    <%=element.quantity%>
                                                </span>

                                                <button onclick="updateQuantity('increment','<%=element.product._id%>')"
                                                    class="btn-qunty" type="button">+</button>
                                            </td>
                                            <td class="shoping__cart__price">

                                                <%if(element.product.category.offer> element.product.offer){%>
                                                    <%= element.product.category.offer %>%
                                                        <% }else if(element.product.offer){ %>
                                                            <%= element.product.offer %>%
                                                                <%} else {%>
                                                                    0%
                                                                    <%}%>

                                            </td>


                                            <td class="shoping__cart__total">
                                                <span class="totalAmount" id="totalAmount-<%=element.product._id%>">
                                                    <%= element.totalAmount.toFixed(1) %>
                                                </span>
                                            </td>


                                            <td class="shoping__cart__item__close">
                                                <button class="btn-qunty delButton"
                                                    onclick="removeProduct('<%=element.product._id%>')"
                                                    id="removeItem-<%=element.product._id%>">X</button>
                                            </td>


                                        </tr>
                                        <% } %>
                                            <% }) %>



                            </tbody>

                        </table>

                        <% if (typeof message !="undefined" ) {%>
                            <p class="cartEmpty">
                                <%= message %>
                            </p>
                            <%}%>

                    </div>
                </div>
            </div>




            <div class="pagination-container">
                <% if (currentPage> 1) { %>
                    <a href="/cart?page=1">First</a>
                    <a href="/cart?page=<%= currentPage - 1 %>">Previous</a>
                    <% } %>

                        <% for (let i=1; i <=totalPages; i++) { %>
                            <a href="/cart?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>">
                                <%= i %>
                            </a>
                            <% } %>

                                <% if (currentPage < totalPages) { %>
                                    <a href="/cart?page=<%= currentPage + 1 %>">Next</a>
                                    <a href="/cart?page=<%= totalPages %>">Last</a>
                                    <% } %>
            </div>





            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                            Update Cart</a>
                    </div>
                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal<span id="grandTtl">
                                    <%= user.grandTotal %>
                                </span></li>
                            <li>Total <span id="grandTtle">
                                    <%= user.grandTotal %>
                                </span></li>
                        </ul>
                        <a href="<%= (cart.length === 0) ? '/cart' : '/checkout' %>" class="primary-btn">PROCEED TO
                            CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script>
        function showTotalAmount() {
            const totalAmount = document.querySelectorAll('.totalAmount')
            const grandTtl = document.getElementById('grandTtl')

            console.log("gasdgfashdfkskdlf", totalAmount);
            let totalAmont = 0;
            totalAmount.forEach(e => {
                totalAmont += parseInt(e.innerHTML)

            })

            grandTtl.innerHTML = totalAmont;

        }


    </script>


    <script>
        function updateQuantity(action, productId) {
            fetch('/cart/qntUpdate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productId: productId,
                    action: action
                })
            })
                .then(response => response.json())
                .then(data => {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    if (data.flag === 1) {
                        Toast.fire({
                            icon: "warning",
                            title: "Oops, can't go lower!"
                        })
                    } else {

                        Toast.fire({
                            icon: "success",
                            title: "Quantity Updated successfuly"
                        })
                    }


                    console.log('Success:', data);
                    showTotalAmount()
                    // Update the quantity displayed on the page
                    const quantityElement = document.querySelector(`#quantity-${productId}`);
                    const totalAmountElement = document.querySelector(`#totalAmount-${productId}`);
                    const grandTotal = document.getElementById('grandTtl')
                    const grandTtl = document.getElementById('grandTtle')




                    if (quantityElement && totalAmountElement && grandTotal) {
                        quantityElement.textContent = `${data.quantity}`;
                        totalAmountElement.innerHTML = `${data.totalAmount}`;
                        grandTotal.innerHTML = `${data.grandTotal}`
                        grandTtl.innerHTML = `${data.grandTotal}`
                    }
                    if (data.stock_count === data.quantity) {
                        Toast.fire({
                            icon: "warning",
                            title: "Quantity is exeeded!"
                        })

                    }



                    // if (totalAmountElement) {
                    //     totalAmountElement.textContent = data.totalAmount;
                    // }


                })
                .catch((error) => {
                    console.error('Error:', error);


                });
        }





        function removeProduct(productId) {
            const canCanceladress = true;

            if (canCanceladress) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: "Yes, Delete",
                    cancelButtonText: "Close",
                }).then((result) => {

                    if (result.isConfirmed && result.value) {
                        fetch("/removeFromCart", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                product: productId,
                            }),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                document.getElementById("cartLen").innerHTML = data.cartLen
                                console.log("Success:", data.grandTotal);
                                const grandTotal = document.getElementById('grandTtl')
                                grandTotal.innerHTML = `${data.grandTotal}`
                                const grandTtl = document.getElementById('grandTtle')
                                grandTtl.innerHTML = `${data.grandTotal}`


                                const deletedItem = document.getElementById(productId);
                                if (deletedItem) {

                                    deletedItem.remove();
                                    const items = document.querySelectorAll('.items')

                                    if (items.length === 0) {

                                        window.location.reload()
                                    }


                                }
                                console.log(deletedItem);
                            })
                            .catch((error) => {
                                console.error("Error:", error);
                            });

                    }
                })
            }
        }


    </script>



    <%- include('../partials/user/footer') %>